{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{club.name}}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'club_index' %}">Clubs</a></li>
  <li class="breadcrumb-item active">{{club.name}} - {{club.id}}</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <img src="{% static 'img/tm_red_banner.png' %}" class="img-responsive" alt="Responsive img">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">{{club.name}}</div>
            <div class="col-md-4">
                {% if user.is_authenticated %}
                    {% if is_member %}
                        <button type="button" class="btn btn-success" disabled>Member</button>
                    {% elif has_pending_membership %}
                        <button type="button" class="btn btn-info" disabled>Pending Approval</button>
                    {% else %}
                        <form action="{% url 'club_home' club.id %}" method="post" class="form-inline ml-auto">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Request Membership</button>
                        </form>
                    {% endif %}
                {% else %}
                    <button type="button" class="btn btn-primary" disabled>Login to Join</button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">{{club.description}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Organizer: {{club.organizer.get_full_name}}</div>
        </div>
    </div>
{% endblock %}